In [1]:
import pandas as pd

In [2]:
url=r'C:\Users\Coding\Desktop\61020593\Car1_whole.xls' # f'D:\DS\data\Car1_whole.xls'

In [3]:
df=pd.read_excel(url)
df.head()

,สถิติจำนวนรถใหม่ (ป้ายแดง) ที่จดทะเบียนโดยแยกยี่ห้อรถ,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,ประเภทรถยนต์นั่งส่วนบุคคลไม่เกิน 7 คน (รย.1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,รวมทั่วประเทศ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ประจำปี พ.ศ. 2559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,หน่วย : คัน
4,ลำดับที่,ยี่ห้อรถ,ความจุกระบอกสูบ,NaN,NaN,NaN,NaN,รถใช้,รวม

# read a single sheet

In [4]:
df = pd.read_excel(url, shee_tname='Total', usecols='B:I', skiprows=6, skipfooter=4) 
df

,Unnamed: 0,"ไม่เกิน 1,300 ซีซี","1,301 ถึง 1,600 ซีซี","1,601 ถึง 1,800 ซีซี","1,801 ถึง 2,000 ซีซี","2,001 ซีซีขึ้นไป",เชื้อเพลิงไฟฟ้า,Unnamed: 7
0,ALFA ROMEO,0,0,3,0,3,0,6
1,ASTON MARTIN,0,0,0,0,14,0,14
2,AUDI,0,4,0,111,9,0,124
3,AUSTIN,0,0,0,0,0,0,0
4,BENTLEY,0,0,0,0,15,0,15
5,BMW,2,596,0,6159,562,0,7319
6,CADILLAC,0,0,0,0,5,0,5
7,CHERY,0,0,0,3,0,0,3
8,CHEVROLET,0,409,413,651,5469,0,6942
9,CHRYSLER,0,0,0,1,0,0,1
10,CITROEN,1,4,0,0,0,0,5
11,DAEWOO,0,0,0,0,0,0,0
12,DAIHATSU,4,0,0,0,0,0,4
13,DAIMLER,0,0,0,0,0,0,0
14,DFM,0,0,0,0,0,0,0
15,FERRARI,0,0,0,0,42,0,42
16,FIAT,0,6,0,0,3,0,9
17,FORD,315,3910,1,294,25911,0,30431
18,GEELY,0,0,0,0,0,0,0
19,HINO,0,0,0,0,0,0,0
20,HOLDEN,0,0,0,0,0,0,0
21,HONDA,1890,69590,32547,9524,2575,0,116126
22,HUMMER,0,0,0,0,1,0,1
23,HYUNDAI,0,20,330,33,495,0,878
24,ISUZU,0,0,0,35943,12144,0,48087
25,JAGUAR,0,0,0,23,16,0,39
26,JEEP,0,0,0,1,13,0,14
27,KIA,5,48,1,15,18,0,87
28,LAMBORGHINI,0,0,0,0,38,0,38
29,LAND ROVER,0,0,0,1,41,0,42
...,...,...,...,...,...,...,...,...
34,MAYBACH,0,0,0,0,0,0,0
35,MAZDA,14962,8423,0,11384,5137,0,39906
36,MERCEDES BENZ,1,1583,335,5441,5271,0,12631
37,MG,0,6447,683,188,0,0,7318
38,MINI COOPER,7,391,0,679,0,0,1077
39,MITSUBISHI,15342,3,64,173,32286,0,47868
40,MITSUOKA,0,0,0,3,1,0,4
41,NAZA,1,0,0,0,1,0,2
42,NISSAN,17541,4125,522,5325,5243,0,32756
43,PERODUA,0,4,0,0,0,0,4
44,PEUGEOT,0,63,0,2,0,0,65
45,PORSCHE,0,0,0,171,536,0,707
46,PROTON,3,146,0,0,0,0,149
47,RADICAL,0,0,0,0,0,0,0
48,RANGE ROVER,0,0,0,1,46,0,47
49,ROLLS-ROYCE,0,0,0,0,18,0,18
50,ROVER,0,0,0,0,0,0,0
51,SAAB,0,0,0,0,0,0,0
52,SEAT,0,0,0,0,0,0,0
53,SKODA,0,1,2,1,0,0,4
54,SMART,0,0,0,0,0,0,0
55,SOKON,0,0,0,0,0,0,0
56,SSANGYONG,0,0,0,7,3,0,10
57,SUBARU,0,17,0,3980,58,0,4055
58,SUZUKI,18217,892,0,3,0,0,19112
59,TATA,0,0,0,0,48,0,48
60,TOYOTA,37713,36105,7715,4359,72058,0,157950
61,VOLKSWAGEN,13,13,0,38,1,0,65
62,VOLVO,0,227,0,651,45,0,923
63,WULING,0,0,0,0,0,0,0

In [5]:
colnames = ['brand', '1300cc', '1600cc', '1800cc', '2000cc', 'gt2000cc', 'elec', 'total']
df = pd.read_excel(url, sheet_name='Total', usecols='B:I', skiprows=7, skipfooter=4, header=None, names=colnames) 
df

            brand  1300cc  1600cc  1800cc  2000cc  gt2000cc  elec   total
0      ALFA ROMEO       0       0       3       0         3     0       6
1    ASTON MARTIN       0       0       0       0        14     0      14
2            AUDI       0       4       0     111         9     0     124
3          AUSTIN       0       0       0       0         0     0       0
4         BENTLEY       0       0       0       0        15     0      15
5             BMW       2     596       0    6159       562     0    7319
6        CADILLAC       0       0       0       0         5     0       5
7           CHERY       0       0       0       3         0     0       3
8       CHEVROLET       0     409     413     651      5469     0    6942
9        CHRYSLER       0       0       0       1         0     0       1
10        CITROEN       1       4       0       0         0     0       5
11         DAEWOO       0       0       0       0         0     0       0
12       DAIHATSU       4       0       0       0         0     0       4
13        DAIMLER       0       0       0       0         0     0       0
14            DFM       0       0       0       0         0     0       0
15        FERRARI       0       0       0       0        42     0      42
16           FIAT       0       6       0       0         3     0       9
17           FORD     315    3910       1     294     25911     0   30431
18          GEELY       0       0       0       0         0     0       0
19           HINO       0       0       0       0         0     0       0
20         HOLDEN       0       0       0       0         0     0       0
21          HONDA    1890   69590   32547    9524      2575     0  116126
22         HUMMER       0       0       0       0         1     0       1
23        HYUNDAI       0      20     330      33       495     0     878
24          ISUZU       0       0       0   35943     12144     0   48087
25         JAGUAR       0       0       0      23        16     0      39
26           JEEP       0       0       0       1        13     0      14
27            KIA       5      48       1      15        18     0      87
28    LAMBORGHINI       0       0       0       0        38     0      38
29     LAND ROVER       0       0       0       1        41     0      42
..            ...     ...     ...     ...     ...       ...   ...     ...
34        MAYBACH       0       0       0       0         0     0       0
35          MAZDA   14962    8423       0   11384      5137     0   39906
36  MERCEDES BENZ       1    1583     335    5441      5271     0   12631
37             MG       0    6447     683     188         0     0    7318
38    MINI COOPER       7     391       0     679         0     0    1077
39     MITSUBISHI   15342       3      64     173     32286     0   47868
40       MITSUOKA       0       0       0       3         1     0       4
41           NAZA       1       0       0       0         1     0       2
42         NISSAN   17541    4125     522    5325      5243     0   32756
43        PERODUA       0       4       0       0         0     0       4
44        PEUGEOT       0      63       0       2         0     0      65
45        PORSCHE       0       0       0     171       536     0     707
46         PROTON       3     146       0       0         0     0     149
47        RADICAL       0       0       0       0         0     0       0
48    RANGE ROVER       0       0       0       1        46     0      47
49    ROLLS-ROYCE       0       0       0       0        18     0      18
50          ROVER       0       0       0       0         0     0       0
51           SAAB       0       0       0       0         0     0       0
52           SEAT       0       0       0       0         0     0       0
53          SKODA       0       1       2       1         0     0       4
54          SMART       0       0       0       0         0     0       0
55          SOKON       0       0       0       0         0     0       0
56      SSANGYONG       0       0       0       7         3     0      10
57         SUBARU       0      17       0    3980        58     0    4055
58         SUZUKI   18217     892       0       3         0     0   19112
59           TATA       0       0       0       0        48     0      48
60         TOYOTA   37713   36105    7715    4359     72058     0  157950
61     VOLKSWAGEN      13      13       0      38         1     0      65
62          VOLVO       0     227       0     651        45     0     923
63         WULING       0       0       0       0         0     0       0

[64 rows x 8 columns]

# read multiple sheets

In [6]:
colnames = ['brand', '1300cc', '1600cc', '1800cc', '2000cc', 'gt2000cc', 'elec', 'total']
dfs=[]#list of data frame
dfs =[pd.read_excel(url, sheet_name=sn, usecols='B:I', skiprows=7, skipfooter=4, 
                   header=None, names=colnames) for sn in range(1, 13)]

In [11]:
dfs[2]

               1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
brand
ALFA ROMEO          0       0       1       0         0     0      1
ASTON MARTIN        0       0       0       0         2     0      2
AUDI                0       0       0      15         1     0     16
AUSTIN              0       0       0       0         0     0      0
BENTLEY             0       0       0       0         4     0      4
BMW                 0      55       0     658        55     0    768
CADILLAC            0       0       0       0         0     0      0
CHERY               0       0       0       0         0     0      0
CHEVROLET           0      66      43      92       739     0    940
CHRYSLER            0       0       0       0         0     0      0
CITROEN             0       0       0       0         0     0      0
DAEWOO              0       0       0       0         0     0      0
DAIHATSU            3       0       0       0         0     0      3
DAIMLER             0       0       0       0         0     0      0
DFM                 0       0       0       0         0     0      0
FERRARI             0       0       0       0        11     0     11
FIAT                0       0       0       0         0     0      0
FORD               61     480       0      38      2668     0   3247
GEELY               0       0       0       0         0     0      0
HINO                0       0       0       0         0     0      0
HOLDEN              0       0       0       0         0     0      0
HONDA             234    6846    2249     970       226     0  10525
HUMMER              0       0       0       0         0     0      0
HYUNDAI             0       2      50       7        77     0    136
ISUZU               0       0       0    3340      1264     0   4604
JAGUAR              0       0       0       0         0     0      0
JEEP                0       0       0       1         2     0      3
KIA                 1       6       0       2         1     0     10
LAMBORGHINI         0       0       0       0         0     0      0
LAND ROVER          0       0       0       0         4     0      4
...               ...     ...     ...     ...       ...   ...    ...
MAYBACH             0       0       0       0         0     0      0
MAZDA            1435     911       0    1309       532     0   4187
MERCEDES BENZ       0     174      41     554       650     0   1419
MG                  0     576      30       0         0     0    606
MINI COOPER         1      33       0      78         0     0    112
MITSUBISHI       1443       0       1      22      4128     0   5594
MITSUOKA            0       0       0       0         0     0      0
NAZA                0       0       0       0         0     0      0
NISSAN           1652     561      64     739       639     0   3655
PERODUA             0       0       0       0         0     0      0
PEUGEOT             0       5       0       0         0     0      5
PORSCHE             0       0       0      17        42     0     59
PROTON              0      13       0       0         0     0     13
RADICAL             0       0       0       0         0     0      0
RANGE ROVER         0       0       0       1         8     0      9
ROLLS-ROYCE         0       0       0       0         2     0      2
ROVER               0       0       0       0         0     0      0
SAAB                0       0       0       0         0     0      0
SEAT                0       0       0       0         0     0      0
SKODA               0       0       0       0         0     0      0
SMART               0       0       0       0         0     0      0
SOKON               0       0       0       0         0     0      0
SSANGYONG           0       0       0       0         0     0      0
SUBARU              0       1       0     298         7     0    306
SUZUKI           1792      82       0       0         0     0   1874
TATA                0       0       0       0         9     0      9
TOYOTA           3669    2945    1088     470      8170     0  16342
VOLKSWAGEN          0       2       0       1         0     0      3
VOLVO               0      21       0      65         4     0     90
WULING              0       0       0       0         0     0      0

[64 rows x 7 columns]

In [8]:
[d.set_index('brand', inplace=True) for d in dfs]

[None, None, None, None, None, None, None, None, None, None, None, None]

In [9]:
dfs[5]

               1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
brand
ALFA ROMEO          0       0       0       0         0     0      0
ASTON MARTIN        0       0       0       0         1     0      1
AUDI                0       0       0      11         0     0     11
AUSTIN              0       0       0       0         0     0      0
BENTLEY             0       0       0       0         1     0      1
BMW                 0      62       0     568        56     0    686
CADILLAC            0       0       0       0         1     0      1
CHERY               0       0       0       0         0     0      0
CHEVROLET           0      20      37      91       459     0    607
CHRYSLER            0       0       0       0         0     0      0
CITROEN             0       1       0       0         0     0      1
DAEWOO              0       0       0       0         0     0      0
DAIHATSU            0       0       0       0         0     0      0
DAIMLER             0       0       0       0         0     0      0
DFM                 0       0       0       0         0     0      0
FERRARI             0       0       0       0         2     0      2
FIAT                0       0       0       0         0     0      0
FORD               10     282       0      35      2385     0   2712
GEELY               0       0       0       0         0     0      0
HINO                0       0       0       0         0     0      0
HOLDEN              0       0       0       0         0     0      0
HONDA             115    7158    3620     817       301     0  12011
HUMMER              0       0       0       0         0     0      0
HYUNDAI             0       3      30       0        44     0     77
ISUZU               0       0       0    4377      1074     0   5451
JAGUAR              0       0       0       1         1     0      2
JEEP                0       0       0       0         2     0      2
KIA                 0       4       0       1         3     0      8
LAMBORGHINI         0       0       0       0         3     0      3
LAND ROVER          0       0       0       0         6     0      6
...               ...     ...     ...     ...       ...   ...    ...
MAYBACH             0       0       0       0         0     0      0
MAZDA            1563     870       0    1259       477     0   4169
MERCEDES BENZ       0     151      36     509       503     0   1199
MG                  0     671      30      43         0     0    744
MINI COOPER         2      36       0      68         0     0    106
MITSUBISHI       1699       0      14      15      3021     0   4749
MITSUOKA            0       0       0       0         0     0      0
NAZA                0       0       0       0         0     0      0
NISSAN           1592     339      44     487       458     0   2920
PERODUA             0       0       0       0         0     0      0
PEUGEOT             0       5       0       0         0     0      5
PORSCHE             0       0       0      18        57     0     75
PROTON              0      22       0       0         0     0     22
RADICAL             0       0       0       0         0     0      0
RANGE ROVER         0       0       0       0         1     0      1
ROLLS-ROYCE         0       0       0       0         2     0      2
ROVER               0       0       0       0         0     0      0
SAAB                0       0       0       0         0     0      0
SEAT                0       0       0       0         0     0      0
SKODA               0       0       0       0         0     0      0
SMART               0       0       0       0         0     0      0
SOKON               0       0       0       0         0     0      0
SSANGYONG           0       0       0       1         0     0      1
SUBARU              0       2       0     350         3     0    355
SUZUKI           1871      92       0       0         0     0   1963
TATA                0       0       0       0         7     0      7
TOYOTA           3475    3408     626     446      6277     0  14232
VOLKSWAGEN          2       0       0       2         0     0      4
VOLVO               0      42       0      72         2     0    116
WULING              0       0       0       0         0     0      0

[64 rows x 7 columns]

In [12]:
df = pd.concat(dfs, keys=range(1, 13)).sort_index()
df

                  1300cc  1600cc  1800cc  2000cc  gt2000cc  elec  total
   brand
1  ALFA ROMEO          0       0       0       0         1     0      1
   ASTON MARTIN        0       0       0       0         0     0      0
   AUDI                0       2       0      14         0     0     16
   AUSTIN              0       0       0       0         0     0      0
   BENTLEY             0       0       0       0         2     0      2
   BMW                 1      45       0     586        64     0    696
   CADILLAC            0       0       0       0         1     0      1
   CHERY               0       0       0       1         0     0      1
   CHEVROLET           0     103      59      80       501     0    743
   CHRYSLER            0       0       0       0         0     0      0
   CITROEN             0       0       0       0         0     0      0
   DAEWOO              0       0       0       0         0     0      0
   DAIHATSU            0       0       0       0         0     0      0
   DAIMLER             0       0       0       0         0     0      0
   DFM                 0       0       0       0         0     0      0
   FERRARI             0       0       0       0         2     0      2
   FIAT                0       3       0       0         1     0      4
   FORD               73     525       0      40      2503     0   3141
   GEELY               0       0       0       0         0     0      0
   HINO                0       0       0       0         0     0      0
   HOLDEN              0       0       0       0         0     0      0
   HONDA             333    7500    3504    1467       232     0  13036
   HUMMER              0       0       0       0         0     0      0
   HYUNDAI             0       2      29       2        57     0     90
   ISUZU               0       0       0    1747      2509     0   4256
   JAGUAR              0       0       0       3         3     0      6
   JEEP                0       0       0       0         0     0      0
   KIA                 2       7       0       0         1     0     10
   LAMBORGHINI         0       0       0       0         2     0      2
   LAND ROVER          0       0       0       0         4     0      4
...                  ...     ...     ...     ...       ...   ...    ...
12 MAYBACH             0       0       0       0         0     0      0
   MAZDA             682     303       0     413       239     0   1637
   MERCEDES BENZ       0      49       5     251       156     0    461
   MG                  0     260      64      11         0     0    335
   MINI COOPER         0      21       0      35         0     0     56
   MITSUBISHI        870       0       3       3      1085     0   1961
   MITSUOKA            0       0       0       0         0     0      0
   NAZA                1       0       0       0         0     0      1
   NISSAN           1177     181      22     153       325     0   1858
   PERODUA             0       0       0       0         0     0      0
   PEUGEOT             0       2       0       0         0     0      2
   PORSCHE             0       0       0      10        29     0     39
   PROTON              0       6       0       0         0     0      6
   RADICAL             0       0       0       0         0     0      0
   RANGE ROVER         0       0       0       0         0     0      0
   ROLLS-ROYCE         0       0       0       0         0     0      0
   ROVER               0       0       0       0         0     0      0
   SAAB                0       0       0       0         0     0      0
   SEAT                0       0       0       0         0     0      0
   SKODA               0       0       1       0         0     0      1
   SMART               0       0       0       0         0     0      0
   SOKON               0       0       0       0         0     0      0
   SSANGYONG           0       0       0       0         0     0      0
   SUBARU              0       2       0     161         3     0    166
   SUZUKI           1043      54       0       0         0     0   1097
   TATA                0       0       0       0         4     0      4
   TOYOTA           1635    1908     681     198      3561     0   7983
   VOLKSWAGEN          0       1       0       0         0     0      1
   VOLVO               0       9       0      21         0     0     30
   WULING              0       0       0       0         0     0      0

[768 rows x 7 columns]

## save to CSV

In [14]:
df.to_csv(r'C:\Users\Coding\Desktop\61020593\save\Car1_whole.csv')

## save multiple dataframes to Excel

In [16]:
sheets = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
excel_file = pd.ExcelWriter(r'C:\Users\Coding\Desktop\61020593\save\Car1_sheet.xlsx')
[c.to_excel(excel_file, sheet_name=sheets[i]) for i, c in enumerate(dfs)]  
excel_file.close()

In [ ]:
รวมแล้วได้ข้อมูลที่สามารถเอาไป cleanning และประมวลผลต่อไป