**JSON (JavaScript Object Notation) is lightweight format for storing and transporting data.**

**JSON used to create objects to send data between an application or an Applications Program Interface (API).**

----

### Read JSON from URL use pandas.read_json()

In [2]:
import pandas as pd

In [3]:
#https://github.com/mathawanup/master_dataset/blob/master/NineTemples.json
url = 'https://raw.githubusercontent.com/mathawanup/master_dataset/master/NineTemples.json'
df = pd.read_json(url)
df

,belief,lat,lon,watEn,watTh
0,เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี,13.739810,100.489057,Wat Kalayanamitr,วัดกัลยาณมิตรวรมหาวิหาร
1,มีชัยชนะต่ออุปสรรคทั้งปวง,13.760404,100.493371,Wat Chana Songkhram,วัดชนะสงครามราชวรมหาวิหาร
2,ร่มเย็นเป็นสุข,13.746527,100.491105,Wat Phra Chetuphon,วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร
3,เพื่อจิตใจสะอาด ดุจรัตนตรัย,13.751502,100.490475,Temple of the Emerald Buddha,วัดพระศรีรัตนศาสดาราม
4,ชื่อเสียงโด่งดัง คนนิยมชมชอบ,13.752310,100.483130,Wat Rakhang Khositaram,วัดระฆังโฆสิตารามวรมหาวิหาร
5,วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป,13.750034,100.498670,Wat Suthat Thepwararam,วัดสุทัศนเทพวรารามราชวรมหาวิหาร
6,ชีวิตรุ่งโรจน์ทุกคืนวัน,13.743691,100.486733,Wat Arun,วัดอรุณราชวรารามราชวรมหาวิหาร
7,พบแต่สิ่งดีงามในชีวิต,13.759537,100.497773,Wat Bavorn Niwet,วัดบวรนิเวศวิหาร
8,เสริมสร้างความคิดอันเป็นสิริมงคล,13.753805,100.504475,Wat Sa Ket,วัดสระเกศราชวรมหาวิหาร

In [5]:
df.columns

Index(['belief', 'lat', 'lon', 'watEn', 'watTh'], dtype='object')

In [6]:
df = df[['watTh', 'watEn', 'lat', 'lon', 'belief']]
df

,watTh,watEn,lat,lon,belief
0,วัดกัลยาณมิตรวรมหาวิหาร,Wat Kalayanamitr,13.739810,100.489057,เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี
1,วัดชนะสงครามราชวรมหาวิหาร,Wat Chana Songkhram,13.760404,100.493371,มีชัยชนะต่ออุปสรรคทั้งปวง
2,วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร,Wat Phra Chetuphon,13.746527,100.491105,ร่มเย็นเป็นสุข
3,วัดพระศรีรัตนศาสดาราม,Temple of the Emerald Buddha,13.751502,100.490475,เพื่อจิตใจสะอาด ดุจรัตนตรัย
4,วัดระฆังโฆสิตารามวรมหาวิหาร,Wat Rakhang Khositaram,13.752310,100.483130,ชื่อเสียงโด่งดัง คนนิยมชมชอบ
5,วัดสุทัศนเทพวรารามราชวรมหาวิหาร,Wat Suthat Thepwararam,13.750034,100.498670,วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป
6,วัดอรุณราชวรารามราชวรมหาวิหาร,Wat Arun,13.743691,100.486733,ชีวิตรุ่งโรจน์ทุกคืนวัน
7,วัดบวรนิเวศวิหาร,Wat Bavorn Niwet,13.759537,100.497773,พบแต่สิ่งดีงามในชีวิต
8,วัดสระเกศราชวรมหาวิหาร,Wat Sa Ket,13.753805,100.504475,เสริมสร้างความคิดอันเป็นสิริมงคล

---

## Read JSON from URL use OrderedDict

In [7]:
from collections import OrderedDict
import json
import requests

In [8]:
url = 'https://github.com/mathawanup/master_dataset/raw/master/NineTemples.json'
r = requests.get(url)
r.text

'[{"watTh":"วัดกัลยาณมิตรวรมหาวิหาร","watEn":"Wat Kalayanamitr","lat":13.7398104,"lon":100.4890565,"belief":"เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี"},\n {"watTh":"วัดชนะสงครามราชวรมหาวิหาร","watEn":"Wat Chana Songkhram","lat":13.760404,"lon":100.4933709,"belief":"มีชัยชนะต่ออุปสรรคทั้งปวง"},\n {"watTh":"วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร","watEn":"Wat Phra Chetuphon","lat":13.7465275,"lon":100.4911048,"belief":"ร่มเย็นเป็นสุข"},\n {"watTh":"วัดพระศรีรัตนศาสดาราม","watEn":"Temple of the Emerald Buddha","lat":13.7515019,"lon":100.4904745,"belief":"เพื่อจิตใจสะอาด ดุจรัตนตรัย"},\n {"watTh":"วัดระฆังโฆสิตารามวรมหาวิหาร","watEn":"Wat Rakhang Khositaram","lat":13.7523101,"lon":100.4831296,"belief":"ชื่อเสียงโด่งดัง คนนิยมชมชอบ"},\n {"watTh":"วัดสุทัศนเทพวรารามราชวรมหาวิหาร","watEn":"Wat Suthat Thepwararam","lat":13.7500342,"lon":100.4986696,"belief":"วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป"},\n {"watTh":"วัดอรุณราชวรารามราชวรมหาวิหาร","watEn":"Wat Arun","lat":13.7436906,"lon":100.4867328,"belief":"ชีวิตรุ่งโรจน์ทุกคืนวัน"},\n {"watTh":"วัดบวรนิเวศวิหาร","watEn":"Wat Bavorn Niwet","lat":13.7595372,"lon":100.4977729,"belief":"พบแต่สิ่งดีงามในชีวิต"},\n {"watTh":"วัดสระเกศราชวรมหาวิหาร","watEn":"Wat Sa Ket","lat":13.7538052,"lon":100.5044746,"belief":"เสริมสร้างความคิดอันเป็นสิริมงคล"}\n]\n'

In [9]:
j = json.loads(r.text, object_pairs_hook=OrderedDict)
print(json.dumps(j, indent=2, sort_keys=False))

[
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e01\u0e31\u0e25\u0e22\u0e32\u0e13\u0e21\u0e34\u0e15\u0e23\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Kalayanamitr",
    "lat": 13.7398104,
    "lon": 100.4890565,
    "belief": "\u0e40\u0e14\u0e34\u0e19\u0e17\u0e32\u0e07\u0e1b\u0e25\u0e2d\u0e14\u0e20\u0e31\u0e22\u0e14\u0e35 \u0e21\u0e35\u0e21\u0e34\u0e15\u0e23\u0e44\u0e21\u0e15\u0e23\u0e35\u0e17\u0e35\u0e48\u0e14\u0e35"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e0a\u0e19\u0e30\u0e2a\u0e07\u0e04\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Chana Songkhram",
    "lat": 13.760404,
    "lon": 100.4933709,
    "belief": "\u0e21\u0e35\u0e0a\u0e31\u0e22\u0e0a\u0e19\u0e30\u0e15\u0e48\u0e2d\u0e2d\u0e38\u0e1b\u0e2a\u0e23\u0e23\u0e04\u0e17\u0e31\u0e49\u0e07\u0e1b\u0e27\u0e07"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e1e\u0e23\u0e30\u0e40\u0e0a\u0e15\u0e38\u0e1e\u0e19\u0e27\u0e34\u0e21\u0e25\u0e21\u0e31\u0e07\u0e04\u0e25\u0e32\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Phra Chetuphon",
    "lat": 13.7465275,
    "lon": 100.4911048,
    "belief": "\u0e23\u0e48\u0e21\u0e40\u0e22\u0e47\u0e19\u0e40\u0e1b\u0e47\u0e19\u0e2a\u0e38\u0e02"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e1e\u0e23\u0e30\u0e28\u0e23\u0e35\u0e23\u0e31\u0e15\u0e19\u0e28\u0e32\u0e2a\u0e14\u0e32\u0e23\u0e32\u0e21",
    "watEn": "Temple of the Emerald Buddha",
    "lat": 13.7515019,
    "lon": 100.4904745,
    "belief": "\u0e40\u0e1e\u0e37\u0e48\u0e2d\u0e08\u0e34\u0e15\u0e43\u0e08\u0e2a\u0e30\u0e2d\u0e32\u0e14 \u0e14\u0e38\u0e08\u0e23\u0e31\u0e15\u0e19\u0e15\u0e23\u0e31\u0e22"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e23\u0e30\u0e06\u0e31\u0e07\u0e42\u0e06\u0e2a\u0e34\u0e15\u0e32\u0e23\u0e32\u0e21\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Rakhang Khositaram",
    "lat": 13.7523101,
    "lon": 100.4831296,
    "belief": "\u0e0a\u0e37\u0e48\u0e2d\u0e40\u0e2a\u0e35\u0e22\u0e07\u0e42\u0e14\u0e48\u0e07\u0e14\u0e31\u0e07 \u0e04\u0e19\u0e19\u0e34\u0e22\u0e21\u0e0a\u0e21\u0e0a\u0e2d\u0e1a"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e2a\u0e38\u0e17\u0e31\u0e28\u0e19\u0e40\u0e17\u0e1e\u0e27\u0e23\u0e32\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Suthat Thepwararam",
    "lat": 13.7500342,
    "lon": 100.4986696,
    "belief": "\u0e27\u0e34\u0e2a\u0e31\u0e22\u0e17\u0e31\u0e28\u0e19\u0e4c\u0e01\u0e27\u0e49\u0e32\u0e07\u0e44\u0e01\u0e25 \u0e21\u0e35\u0e40\u0e2a\u0e19\u0e48\u0e2b\u0e4c\u0e41\u0e01\u0e48\u0e04\u0e19\u0e17\u0e31\u0e48\u0e27\u0e44\u0e1b"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e2d\u0e23\u0e38\u0e13\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e32\u0e23\u0e32\u0e21\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Arun",
    "lat": 13.7436906,
    "lon": 100.4867328,
    "belief": "\u0e0a\u0e35\u0e27\u0e34\u0e15\u0e23\u0e38\u0e48\u0e07\u0e42\u0e23\u0e08\u0e19\u0e4c\u0e17\u0e38\u0e01\u0e04\u0e37\u0e19\u0e27\u0e31\u0e19"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e1a\u0e27\u0e23\u0e19\u0e34\u0e40\u0e27\u0e28\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Bavorn Niwet",
    "lat": 13.7595372,
    "lon": 100.4977729,
    "belief": "\u0e1e\u0e1a\u0e41\u0e15\u0e48\u0e2a\u0e34\u0e48\u0e07\u0e14\u0e35\u0e07\u0e32\u0e21\u0e43\u0e19\u0e0a\u0e35\u0e27\u0e34\u0e15"
  },
  {
    "watTh": "\u0e27\u0e31\u0e14\u0e2a\u0e23\u0e30\u0e40\u0e01\u0e28\u0e23\u0e32\u0e0a\u0e27\u0e23\u0e21\u0e2b\u0e32\u0e27\u0e34\u0e2b\u0e32\u0e23",
    "watEn": "Wat Sa Ket",
    "lat": 13.7538052,
    "lon": 100.5044746,
    "belief": "\u0e40\u0e2a\u0e23\u0e34\u0e21\u0e2a\u0e23\u0e49\u0e32\u0e07\u0e04\u0e27\u0e32\u0e21\u0e04\u0e34\u0e14\u0e2d\u0e31\u0e19\u0e40\u0e1b\u0e47\u0e19\u0e2a\u0e34\u0e23\u0e34\u0e21\u0e07\u0e04\u0e25"
  }
]

In [10]:
df = pd.DataFrame(j)
df

,watTh,watEn,lat,lon,belief
0,วัดกัลยาณมิตรวรมหาวิหาร,Wat Kalayanamitr,13.739810,100.489057,เดินทางปลอดภัยดี มีมิตรไมตรีที่ดี
1,วัดชนะสงครามราชวรมหาวิหาร,Wat Chana Songkhram,13.760404,100.493371,มีชัยชนะต่ออุปสรรคทั้งปวง
2,วัดพระเชตุพนวิมลมังคลารามราชวรมหาวิหาร,Wat Phra Chetuphon,13.746527,100.491105,ร่มเย็นเป็นสุข
3,วัดพระศรีรัตนศาสดาราม,Temple of the Emerald Buddha,13.751502,100.490475,เพื่อจิตใจสะอาด ดุจรัตนตรัย
4,วัดระฆังโฆสิตารามวรมหาวิหาร,Wat Rakhang Khositaram,13.752310,100.483130,ชื่อเสียงโด่งดัง คนนิยมชมชอบ
5,วัดสุทัศนเทพวรารามราชวรมหาวิหาร,Wat Suthat Thepwararam,13.750034,100.498670,วิสัยทัศน์กว้างไกล มีเสน่ห์แก่คนทั่วไป
6,วัดอรุณราชวรารามราชวรมหาวิหาร,Wat Arun,13.743691,100.486733,ชีวิตรุ่งโรจน์ทุกคืนวัน
7,วัดบวรนิเวศวิหาร,Wat Bavorn Niwet,13.759537,100.497773,พบแต่สิ่งดีงามในชีวิต
8,วัดสระเกศราชวรมหาวิหาร,Wat Sa Ket,13.753805,100.504475,เสริมสร้างความคิดอันเป็นสิริมงคล

---

## Read JSON from REST API (Applications Program Interface )

In [11]:
# COVID-19 API  
# https://corona.lmao.ninja/docs/

In [12]:
import pandas as pd
import numpy as np
import requests

### Get global COVID-19 totals

In [15]:
url='https://disease.sh/v3/covid-19/all'
r=requests.get(url)
j=r.json()

In [16]:
type(j)

dict

In [17]:
j['cases']

73215642

In [18]:
j['todayCases']

34118

In [19]:
j['updated'] #Unix Timestamp  13 หลัก

1608019198223

In [20]:
type(j['updated'])# 13 หลัก

int

In [17]:
#https://www.epochconverter.com/

In [21]:
j['updated'] // 1000

1608019198

In [22]:
pd.datetime.fromtimestamp(j['updated'] // 1000).strftime('%Y-%m-%d %H:%M:%S') #เอาออก 3 หลัก

'2020-12-15 14:59:58'

### Get COVID-19 totals for country

In [23]:
url='https://disease.sh/v3/covid-19/countries'
r=requests.get(url)
j=r.json()

In [24]:
df=pd.DataFrame(j)
df

,active,activePerOneMillion,cases,casesPerOneMillion,continent,country,countryInfo,critical,criticalPerOneMillion,deaths,...,oneTestPerPeople,population,recovered,recoveredPerOneMillion,tests,testsPerOneMillion,todayCases,todayDeaths,todayRecovered,updated
0,9202,234.02,49703,1264,Asia,Afghanistan,"{'_id': 4, 'iso2': 'AF', 'iso3': 'AFG', 'lat':...",93,2.37,2001,...,230,39321605,38500,979.11,170855,4345,219,26,90,1608019798800
1,23355,8119.64,49191,17102,Europe,Albania,"{'_id': 8, 'iso2': 'AL', 'iso3': 'ALB', 'lat':...",39,13.56,1016,...,13,2876358,24820,8628.97,219385,76272,0,0,0,1608019798801
2,29100,658.26,92597,2095,Africa,Algeria,"{'_id': 12, 'iso2': 'DZ', 'iso3': 'DZA', 'lat'...",46,1.04,2609,...,0,44207699,60888,1377.32,0,0,0,0,0,1608019798702
3,597,7721.06,7382,95472,Europe,Andorra,"{'_id': 20, 'iso2': 'AD', 'iso3': 'AND', 'lat'...",17,219.86,79,...,0,77321,6706,86729.35,173151,2239379,0,0,0,1608019799003
4,6981,209.51,16277,488,Africa,Angola,"{'_id': 24, 'iso2': 'AO', 'iso3': 'AGO', 'lat'...",14,0.42,372,...,195,33321141,8924,267.82,171247,5139,0,0,0,1608019798830
5,6,398.30,10,664,North America,Anguilla,"{'_id': 660, 'iso2': 'AI', 'iso3': 'AIA', 'lat...",0,0.00,0,...,6,15064,4,265.53,2651,175982,0,0,0,1608019799514
6,5,50.87,148,1506,North America,Antigua and Barbuda,"{'_id': 28, 'iso2': 'AG', 'iso3': 'ATG', 'lat'...",2,20.35,5,...,19,98297,138,1403.91,5188,52779,0,0,0,1608019799419
7,122061,2689.51,1503222,33122,South America,Argentina,"{'_id': 32, 'iso2': 'AR', 'iso3': 'ARG', 'lat'...",3478,76.63,41041,...,11,45384048,1340120,29528.44,4302194,94795,0,0,0,1608019798453
8,19139,6453.29,149120,50280,Asia,Armenia,"{'_id': 51, 'iso2': 'AM', 'iso3': 'ARM', 'lat'...",0,0.00,2529,...,5,2965773,127452,42974.29,551637,186001,438,26,1486,1608019798597
9,107,1000.25,5056,47264,North America,Aruba,"{'_id': 533, 'iso2': 'AW', 'iso3': 'ABW', 'lat...",4,37.39,46,...,2,106973,4903,45834.00,56300,526301,0,0,0,1608019799198
10,1451,56.60,28045,1094,Australia/Oceania,Australia,"{'_id': 36, 'iso2': 'AU', 'iso3': 'AUS', 'lat'...",1,0.04,908,...,2,25633918,25686,1002.03,10417583,406398,6,0,2,1608019798816
11,36347,4025.23,325051,35998,Europe,Austria,"{'_id': 40, 'iso2': 'AT', 'iso3': 'AUT', 'lat'...",594,65.78,4530,...,3,9029795,284174,31470.70,3425072,379308,0,0,0,1608019798524
12,62179,6107.55,178986,17581,Asia,Azerbaijan,"{'_id': 31, 'iso2': 'AZ', 'iso3': 'AZE', 'lat'...",0,0.00,1966,...,5,10180671,114841,11280.30,1963348,192851,0,0,0,1608019798538
13,1441,3648.57,7674,19430,North America,Bahamas,"{'_id': 44, 'iso2': 'BS', 'iso3': 'BHS', 'lat'...",1,2.53,163,...,8,394949,6070,15369.07,46513,117770,0,0,0,1608019798998
14,1588,919.09,89268,51666,Asia,Bahrain,"{'_id': 48, 'iso2': 'BH', 'iso3': 'BHR', 'lat'...",8,4.63,348,...,1,1727797,87332,50545.29,2202876,1274962,0,0,0,1608019798719
15,61398,371.13,492332,2976,Asia,Bangladesh,"{'_id': 50, 'iso2': 'BD', 'iso3': 'BGD', 'lat'...",0,0.00,7089,...,55,165433737,423845,2562.02,2986458,18052,0,0,0,1608019798513
16,17,59.12,296,1029,North America,Barbados,"{'_id': 52, 'iso2': 'BB', 'iso3': 'BRB', 'lat'...",1,3.48,7,...,5,287536,272,945.97,54434,189312,0,0,0,1608019799401
17,21090,2232.24,162148,17162,Europe,Belarus,"{'_id': 112, 'iso2': 'BY', 'iso3': 'BLR', 'lat...",0,0.00,1273,...,3,9447901,139785,14795.35,3625620,383749,0,0,0,1608019798593
18,549457,47315.54,609211,52461,Europe,Belgium,"{'_id': 56, 'iso2': 'BE', 'iso3': 'BEL', 'lat'...",614,52.87,18054,...,2,11612613,41700,3590.92,6351409,546941,1074,103,39,1608019798505
19,4766,11888.87,9377,23391,North America,Belize,"{'_id': 84, 'iso2': 'BZ', 'iso3': 'BLZ', 'lat'...",3,7.48,197,...,8,400879,4414,11010.80,49914,124511,0,0,0,1608019798989
20,74,6.03,3090,252,Africa,Benin,"{'_id': 204, 'iso2': 'BJ', 'iso3': 'BEN', 'lat...",0,0.00,44,...,34,12265145,2972,242.31,360194,29367,0,0,0,1608019799298
21,184,2959.53,431,6932,North America,Bermuda,"{'_id': 60, 'iso2': 'BM', 'iso3': 'BMU', 'lat'...",2,32.17,9,...,1,62172,238,3828.09,119596,1923631,0,0,0,1608019799397
22,34,43.85,438,565,Asia,Bhutan,"{'_id': 64, 'iso2': 'BT', 'iso3': 'BTN', 'lat'...",0,0.00,0,...,4,775459,404,520.98,218118,281276,0,0,1,1608019799396
23,11882,1011.66,147345,12545,South America,Bolivia,"{'_id': 68, 'iso2': 'BO', 'iso3': 'BOL', 'lat'...",71,6.05,9024,...,31,11745026,126439,10765.32,378770,32249,195,6,218,1608019798600
24,31584,9654.46,101461,31014,Europe,Bosnia,"{'_id': 70, 'iso2': 'BA', 'iso3': 'BIH', 'lat'...",0,0.00,3391,...,7,3271440,66486,20323.16,466426,142575,0,0,0,1608019798696
25,2379,1002.54,12873,5425,Africa,Botswana,"{'_id': 72, 'iso2': 'BW', 'iso3': 'BWA', 'lat'...",1,0.42,38,...,5,2372972,10456,4406.29,489264,206182,0,0,0,1608019798898
26,731379,3429.73,6929409,32495,South America,Brazil,"{'_id': 76, 'iso2': 'BR', 'iso3': 'BRA', 'lat'...",8318,39.01,181945,...,8,213246552,6016085,28211.87,25700000,120518,0,0,0,1608019798444
27,3,98.93,76,2506,North America,British Virgin Islands,"{'_id': 92, 'iso2': 'VG', 'iso3': 'VGB', 'lat'...",0,0.00,1,...,3,30323,72,2374.44,9229,304356,0,0,0,1608019799423
28,2,4.55,152,346,Asia,Brunei,"{'_id': 96, 'iso2': 'BN', 'iso3': 'BRN', 'lat'...",0,0.00,3,...,6,439380,147,334.56,77829,177134,0,0,0,1608019799407
29,90128,13016.04,181544,26218,Europe,Bulgaria,"{'_id': 100, 'iso2': 'BG', 'iso3': 'BGR', 'lat...",580,83.76,5838,...,6,6924382,85578,12358.94,1069756,154491,0,0,0,1608019798535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,15,25.47,5359,9098,South America,Suriname,"{'_id': 740, 'iso2': 'SR', 'iso3': 'SUR', 'lat...",3,5.09,117,...,26,589019,5227,8874.08,22709,38554,0,0,0,1608019799126
191,279,239.36,6825,5855,Africa,Swaziland,"{'_id': 748, 'iso2': 'SZ', 'iso3': 'SWZ', 'lat...",11,9.44,130,...,18,1165612,6416,5504.40,63144,54172,0,0,0,1608019799006
192,312584,30863.58,320098,31605,Europe,Sweden,"{'_id': 752, 'iso2': 'SE', 'iso3': 'SWE', 'lat...",253,24.98,7514,...,3,10127924,0,0.00,3718476,367151,0,0,0,1608019798525
193,70103,8073.22,384557,44286,Europe,Switzerland,"{'_id': 756, 'iso2': 'CH', 'iso3': 'CHE', 'lat...",465,53.55,6154,...,3,8683400,308300,35504.53,3095612,356498,0,0,0,1608019798520
194,4340,245.32,9302,526,Asia,Syrian Arab Republic,"{'_id': 760, 'iso2': 'SY', 'iso3': 'SYR', 'lat...",0,0.00,530,...,0,17691041,4432,250.52,0,0,0,0,0,1608019798992
195,124,5.20,742,31,Asia,Taiwan,"{'_id': 158, 'iso2': 'TW', 'iso3': 'TWN', 'lat...",0,0.00,7,...,205,23836464,611,25.63,116235,4876,2,0,5,1608019799326
196,481,49.93,12741,1323,Asia,Tajikistan,"{'_id': 762, 'iso2': 'TJ', 'iso3': 'TJK', 'lat...",0,0.00,88,...,0,9633743,12172,1263.48,0,0,0,0,0,1608019798899
197,305,5.04,509,8,Africa,Tanzania,"{'_id': 834, 'iso2': 'TZ', 'iso3': 'TZA', 'lat...",7,0.12,21,...,0,60493132,183,3.03,0,0,0,0,0,1608019799395
198,237,3.39,4246,61,Asia,Thailand,"{'_id': 764, 'iso2': 'TH', 'iso3': 'THA', 'lat...",1,0.01,60,...,57,69879930,3949,56.51,1217873,17428,9,0,9,1608019799289
199,1,0.75,31,23,Asia,Timor-Leste,"{'_id': 626, 'iso2': 'TL', 'iso3': 'TLS', 'lat...",0,0.00,0,...,89,1329745,30,22.56,14932,11229,0,0,0,1608019799428
200,411,49.13,3266,390,Africa,Togo,"{'_id': 768, 'iso2': 'TG', 'iso3': 'TGO', 'lat...",0,0.00,66,...,52,8365684,2789,333.39,161413,19295,0,0,0,1608019799294
201,582,415.25,6885,4912,North America,Trinidad and Tobago,"{'_id': 780, 'iso2': 'TT', 'iso3': 'TTO', 'lat...",2,1.43,123,...,36,1401556,6180,4409.38,38692,27606,0,0,0,1608019799005
202,22726,1913.82,111361,9378,Africa,Tunisia,"{'_id': 788, 'iso2': 'TN', 'iso3': 'TUN', 'lat...",280,23.58,3894,...,23,11874698,84741,7136.27,512738,43179,0,0,0,1608019798624
203,217755,2569.37,1866345,22022,Asia,Turkey,"{'_id': 792, 'iso2': 'TR', 'iso3': 'TUR', 'lat...",5980,70.56,16646,...,4,84750497,1631944,19255.86,21284005,251137,0,0,0,1608019798450
204,22,564.77,769,19741,North America,Turks and Caicos Islands,"{'_id': 796, 'iso2': 'TC', 'iso3': 'TCA', 'lat...",1,25.67,6,...,4,38954,741,19022.44,10461,268548,0,0,0,1608019799326
205,21074,2119.16,186041,18708,Asia,UAE,"{'_id': 784, 'iso2': 'AE', 'iso3': 'ARE', 'lat...",0,0.00,618,...,1,9944514,164349,16526.60,18517811,1862113,0,0,0,1608019798534
206,1805264,26529.10,1869666,27476,Europe,UK,"{'_id': 826, 'iso2': 'GB', 'iso3': 'GBR', 'lat...",1275,18.74,64402,...,1,68048434,0,0.00,48209087,708453,0,0,0,1608019798448
207,6762974,20377.38,16942980,51051,North America,USA,"{'_id': 840, 'iso2': 'US', 'iso3': 'USA', 'lat...",27862,83.95,308091,...,1,331886264,9871915,29744.87,223183895,672471,0,0,0,1608019798441
208,17621,379.90,27766,599,Africa,Uganda,"{'_id': 800, 'iso2': 'UG', 'iso3': 'UGA', 'lat...",0,0.00,224,...,68,46383419,9921,213.89,683236,14730,0,0,0,1608019798817
209,370734,8500.53,909082,20844,Europe,Ukraine,"{'_id': 804, 'iso2': 'UA', 'iso3': 'UKR', 'lat...",177,4.06,15480,...,9,43613026,522868,11988.80,5052686,115853,8416,233,16150,1608019798490
210,3341,960.27,10029,2883,South America,Uruguay,"{'_id': 858, 'iso2': 'UY', 'iso3': 'URY', 'lat...",39,11.21,95,...,7,3479221,6593,1894.96,514906,147995,0,0,0,1608019798913
211,2107,62.54,75241,2233,Asia,Uzbekistan,"{'_id': 860, 'iso2': 'UZ', 'iso3': 'UZB', 'lat...",174,5.16,612,...,24,33688385,72522,2152.73,1377915,40902,147,0,154,1608019798793
212,0,0.00,1,3,Australia/Oceania,Vanuatu,"{'_id': 548, 'iso2': 'VU', 'iso3': 'VUT', 'lat...",0,0.00,0,...,0,310362,1,3.22,0,0,0,0,0,1608019799521
213,4128,145.36,108125,3807,South America,Venezuela,"{'_id': 862, 'iso2': 'VE', 'iso3': 'VEN', 'lat...",51,1.80,960,...,12,28399006,103037,3628.19,2347543,82663,0,0,0,1608019798689
214,121,1.24,1402,14,Asia,Vietnam,"{'_id': 704, 'iso2': 'VN', 'iso3': 'VNM', 'lat...",0,0.00,35,...,68,97736233,1246,12.75,1431631,14648,0,0,0,1608019799320
215,2,179.40,3,269,Australia/Oceania,Wallis and Futuna,"{'_id': 876, 'iso2': 'WF', 'iso3': 'WLF', 'lat...",0,0.00,0,...,10,11148,1,89.70,1149,103068,0,0,0,1608019799518
216,1,1.66,10,17,Africa,Western Sahara,"{'_id': 732, 'iso2': 'EH', 'iso3': 'ESH', 'lat...",0,0.00,1,...,0,603914,8,13.25,0,0,0,0,0,1608019799513
217,94,3.12,2084,69,Asia,Yemen,"{'_id': 887, 'iso2': 'YE', 'iso3': 'YEM', 'lat...",23,0.76,606,...,1731,30120759,1384,45.95,17404,578,0,0,0,1608019799315
218,546,29.33,18322,984,Africa,Zambia,"{'_id': 894, 'iso2': 'ZM', 'iso3': 'ZMB', 'lat...",0,0.00,367,...,38,18613709,17409,935.28,489926,26321,0,0,0,1608019798823
219,1495,99.93,11358,759,Africa,Zimbabwe,"{'_id': 716, 'iso2': 'ZW', 'iso3': 'ZWE', 'lat...",0,0.00,309,...,78,14960685,9554,638.61,190996,12767,0,0,0,1608019798908

In [25]:
df[df.country=='Thailand']
#Italy USA

,active,activePerOneMillion,cases,casesPerOneMillion,continent,country,countryInfo,critical,criticalPerOneMillion,deaths,...,oneTestPerPeople,population,recovered,recoveredPerOneMillion,tests,testsPerOneMillion,todayCases,todayDeaths,todayRecovered,updated
198,237,3.39,4246,61,Asia,Thailand,"{'_id': 764, 'iso2': 'TH', 'iso3': 'THA', 'lat...",1,0.01,60,...,57,69879930,3949,56.51,1217873,17428,9,0,9,1608019799289

In [26]:
# country='italy'
country='thailand'

url=f'https://disease.sh/v3/covid-19/countries/{country}'
r=requests.get(url)
j=r.json()
j

{'updated': 1608020397935,
 'country': 'Thailand',
 'countryInfo': {'_id': 764,
  'iso2': 'TH',
  'iso3': 'THA',
  'lat': 15,
  'long': 100,
  'flag': 'https://disease.sh/assets/img/flags/th.png'},
 'cases': 4246,
 'todayCases': 9,
 'deaths': 60,
 'todayDeaths': 0,
 'recovered': 3949,
 'todayRecovered': 9,
 'active': 237,
 'critical': 1,
 'casesPerOneMillion': 61,
 'deathsPerOneMillion': 0.9,
 'tests': 1217873,
 'testsPerOneMillion': 17428,
 'population': 69879930,
 'continent': 'Asia',
 'oneCasePerPeople': 16458,
 'oneDeathPerPeople': 1164666,
 'oneTestPerPeople': 57,
 'activePerOneMillion': 3.39,
 'recoveredPerOneMillion': 56.51,
 'criticalPerOneMillion': 0.01}

In [27]:
j['cases']

4246

In [28]:
j['casesPerOneMillion']

61

In [29]:
df=pd.DataFrame(j)
df

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
_id,1608020397935,Thailand,764,4246,9,60,0,3949,9,237,...,1217873,17428,69879930,Asia,16458,1164666,57,3.39,56.51,0.01
flag,1608020397935,Thailand,https://disease.sh/assets/img/flags/th.png,4246,9,60,0,3949,9,237,...,1217873,17428,69879930,Asia,16458,1164666,57,3.39,56.51,0.01
iso2,1608020397935,Thailand,TH,4246,9,60,0,3949,9,237,...,1217873,17428,69879930,Asia,16458,1164666,57,3.39,56.51,0.01
iso3,1608020397935,Thailand,THA,4246,9,60,0,3949,9,237,...,1217873,17428,69879930,Asia,16458,1164666,57,3.39,56.51,0.01
lat,1608020397935,Thailand,15,4246,9,60,0,3949,9,237,...,1217873,17428,69879930,Asia,16458,1164666,57,3.39,56.51,0.01
long,1608020397935,Thailand,100,4246,9,60,0,3949,9,237,...,1217873,17428,69879930,Asia,16458,1164666,57,3.39,56.51,0.01

In [30]:
df.to_csv('covid19_latest.csv', index=False)

In [31]:
df.to_excel('covid19_latest.xlsx', index=False)