#### ข้อมูลเชิงคุณภาพ (Qualitative data) หรือข้อมูลจำแนกประเภท (Categorical Data)

#### 2. การแบ่งข้อมูล(ตัวเลข) ออกเป็นช่วงเพื่อทำให้ข้อมูลเป็น category type เช่น แบ่งช่วงอายุ แบ่งช่วงรายได้ เป็นต้น

In [1]:
import pandas as pd
import numpy as np
from pandas.api.types import CategoricalDtype

In [2]:
#https://github.com/mathawanup/learn_dataset/blob/master/staff.csv
url='https://github.com/mathawanup/learn_dataset/raw/master/staff.csv'
df=pd.read_csv(url)
df

,empID,fname,lname,sex,dob,position,department,salary,join_date
0,604,กันตภณ,ซ่อนกลิ่น,M,5-Mar-1994,ผู้จัดการ,HR,13000,28-Feb-2016
1,607,เกศินี,สายหยุด,F,6-Dec-1968,ผู้ช่วยผู้จัดการ,FIN,40000,30-Nov-1987
2,486,ชัชลัญญา,ลั่นทม,F,1-Jun-1987,ผู้ช่วยผู้จัดการ,FIN,25000,26-May-2009
3,229,ชาติไทย,เสี้ยวดอกแดง,M,27-Jul-1991,พนักงานระดับต้น,MKT,39000,21-Jul-2015
4,901,โชติมา,อรคนธ์,F,21-Aug-1974,รองผู้จัดการ,MKT,82500,18-Sep-2007
5,944,ฐิติรัตน์,ตันหยง,F,15-Aug-1975,พนักงานระดับต้น,HR,38000,9-Aug-1996
6,405,ณภัทร,มณฑา,M,8-Nov-1963,พนักงานระดับต้น,FIN,35000,2-Nov-1984
7,665,ณัชชา,สนสร้อย,F,17-Jun-1983,ผู้ชำนาญงาน,ACC,21000,11-Mar-2017
8,41,ณัฐญาณิน,มะลิลา,F,11-Feb-1987,ผู้จัดการ,MKT,36000,5-Feb-2012
9,171,ณิชา,ประดู่,F,3-Apr-1962,พนักงานระดับต้น,HR,25000,28-Mar-2017
10,51,ณิรดา,คัดเค้าเครือ,F,27-Apr-1972,ผู้จัดการ,MKT,101500,29-Oct-2001
11,724,เดชชัย,พุทธชาติสามสี,M,13-May-1983,ผู้ช่วยผู้จัดการ,MKT,77500,8-Mar-2004

In [3]:
df=pd.read_csv(url, index_col='empID', parse_dates=['dob', 'join_date'])
df

,fname,lname,sex,dob,position,department,salary,join_date
empID,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,1994-03-05,ผู้จัดการ,HR,13000,2016-02-28
607,เกศินี,สายหยุด,F,1968-12-06,ผู้ช่วยผู้จัดการ,FIN,40000,1987-11-30
486,ชัชลัญญา,ลั่นทม,F,1987-06-01,ผู้ช่วยผู้จัดการ,FIN,25000,2009-05-26
229,ชาติไทย,เสี้ยวดอกแดง,M,1991-07-27,พนักงานระดับต้น,MKT,39000,2015-07-21
901,โชติมา,อรคนธ์,F,1974-08-21,รองผู้จัดการ,MKT,82500,2007-09-18
944,ฐิติรัตน์,ตันหยง,F,1975-08-15,พนักงานระดับต้น,HR,38000,1996-08-09
405,ณภัทร,มณฑา,M,1963-11-08,พนักงานระดับต้น,FIN,35000,1984-11-02
665,ณัชชา,สนสร้อย,F,1983-06-17,ผู้ชำนาญงาน,ACC,21000,2017-03-11
41,ณัฐญาณิน,มะลิลา,F,1987-02-11,ผู้จัดการ,MKT,36000,2012-02-05
171,ณิชา,ประดู่,F,1962-04-03,พนักงานระดับต้น,HR,25000,2017-03-28
51,ณิรดา,คัดเค้าเครือ,F,1972-04-27,ผู้จัดการ,MKT,101500,2001-10-29
724,เดชชัย,พุทธชาติสามสี,M,1983-05-13,ผู้ช่วยผู้จัดการ,MKT,77500,2004-03-08

In [4]:
df['age']=pd.to_datetime('today').year - df.dob.dt.year
df

,fname,lname,sex,dob,position,department,salary,join_date,age
empID,,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,1994-03-05,ผู้จัดการ,HR,13000,2016-02-28,26
607,เกศินี,สายหยุด,F,1968-12-06,ผู้ช่วยผู้จัดการ,FIN,40000,1987-11-30,52
486,ชัชลัญญา,ลั่นทม,F,1987-06-01,ผู้ช่วยผู้จัดการ,FIN,25000,2009-05-26,33
229,ชาติไทย,เสี้ยวดอกแดง,M,1991-07-27,พนักงานระดับต้น,MKT,39000,2015-07-21,29
901,โชติมา,อรคนธ์,F,1974-08-21,รองผู้จัดการ,MKT,82500,2007-09-18,46
944,ฐิติรัตน์,ตันหยง,F,1975-08-15,พนักงานระดับต้น,HR,38000,1996-08-09,45
405,ณภัทร,มณฑา,M,1963-11-08,พนักงานระดับต้น,FIN,35000,1984-11-02,57
665,ณัชชา,สนสร้อย,F,1983-06-17,ผู้ชำนาญงาน,ACC,21000,2017-03-11,37
41,ณัฐญาณิน,มะลิลา,F,1987-02-11,ผู้จัดการ,MKT,36000,2012-02-05,33
171,ณิชา,ประดู่,F,1962-04-03,พนักงานระดับต้น,HR,25000,2017-03-28,58
51,ณิรดา,คัดเค้าเครือ,F,1972-04-27,ผู้จัดการ,MKT,101500,2001-10-29,48
724,เดชชัย,พุทธชาติสามสี,M,1983-05-13,ผู้ช่วยผู้จัดการ,MKT,77500,2004-03-08,37

In [5]:
age_cat = ["18-25", "26-30", "31-40", "41-50", "50+"] # label name
df['age_group'] = pd.cut(df.age, 
         bins=[18, 25, 30, 40, 50, np.Inf], 
         labels= age_cat,
         right=True, 
         include_lowest=True).astype(CategoricalDtype(age_cat, ordered=True))
df

,fname,lname,sex,dob,position,department,salary,join_date,age,age_group
empID,,,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,1994-03-05,ผู้จัดการ,HR,13000,2016-02-28,26,26-30
607,เกศินี,สายหยุด,F,1968-12-06,ผู้ช่วยผู้จัดการ,FIN,40000,1987-11-30,52,50+
486,ชัชลัญญา,ลั่นทม,F,1987-06-01,ผู้ช่วยผู้จัดการ,FIN,25000,2009-05-26,33,31-40
229,ชาติไทย,เสี้ยวดอกแดง,M,1991-07-27,พนักงานระดับต้น,MKT,39000,2015-07-21,29,26-30
901,โชติมา,อรคนธ์,F,1974-08-21,รองผู้จัดการ,MKT,82500,2007-09-18,46,41-50
944,ฐิติรัตน์,ตันหยง,F,1975-08-15,พนักงานระดับต้น,HR,38000,1996-08-09,45,41-50
405,ณภัทร,มณฑา,M,1963-11-08,พนักงานระดับต้น,FIN,35000,1984-11-02,57,50+
665,ณัชชา,สนสร้อย,F,1983-06-17,ผู้ชำนาญงาน,ACC,21000,2017-03-11,37,31-40
41,ณัฐญาณิน,มะลิลา,F,1987-02-11,ผู้จัดการ,MKT,36000,2012-02-05,33,31-40
171,ณิชา,ประดู่,F,1962-04-03,พนักงานระดับต้น,HR,25000,2017-03-28,58,50+
51,ณิรดา,คัดเค้าเครือ,F,1972-04-27,ผู้จัดการ,MKT,101500,2001-10-29,48,41-50
724,เดชชัย,พุทธชาติสามสี,M,1983-05-13,ผู้ช่วยผู้จัดการ,MKT,77500,2004-03-08,37,31-40

In [6]:
salary_bucket=["0-15,000", "15,001-30,000", "30,001-50,000", "50,001-80,000", "80,001+"]
df['salary_group'] = pd.cut(df.salary,
                           bins=[0, 15000, 30000, 50000, 80000, np.Inf],
                           labels=salary_bucket,
                           right=True,include_lowest=True).astype(CategoricalDtype(salary_bucket, ordered=True)) 

df

,fname,lname,sex,dob,position,department,salary,join_date,age,age_group,salary_group
empID,,,,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,1994-03-05,ผู้จัดการ,HR,13000,2016-02-28,26,26-30,"0-15,000"
607,เกศินี,สายหยุด,F,1968-12-06,ผู้ช่วยผู้จัดการ,FIN,40000,1987-11-30,52,50+,"30,001-50,000"
486,ชัชลัญญา,ลั่นทม,F,1987-06-01,ผู้ช่วยผู้จัดการ,FIN,25000,2009-05-26,33,31-40,"15,001-30,000"
229,ชาติไทย,เสี้ยวดอกแดง,M,1991-07-27,พนักงานระดับต้น,MKT,39000,2015-07-21,29,26-30,"30,001-50,000"
901,โชติมา,อรคนธ์,F,1974-08-21,รองผู้จัดการ,MKT,82500,2007-09-18,46,41-50,"80,001+"
944,ฐิติรัตน์,ตันหยง,F,1975-08-15,พนักงานระดับต้น,HR,38000,1996-08-09,45,41-50,"30,001-50,000"
405,ณภัทร,มณฑา,M,1963-11-08,พนักงานระดับต้น,FIN,35000,1984-11-02,57,50+,"30,001-50,000"
665,ณัชชา,สนสร้อย,F,1983-06-17,ผู้ชำนาญงาน,ACC,21000,2017-03-11,37,31-40,"15,001-30,000"
41,ณัฐญาณิน,มะลิลา,F,1987-02-11,ผู้จัดการ,MKT,36000,2012-02-05,33,31-40,"30,001-50,000"
171,ณิชา,ประดู่,F,1962-04-03,พนักงานระดับต้น,HR,25000,2017-03-28,58,50+,"15,001-30,000"
51,ณิรดา,คัดเค้าเครือ,F,1972-04-27,ผู้จัดการ,MKT,101500,2001-10-29,48,41-50,"80,001+"
724,เดชชัย,พุทธชาติสามสี,M,1983-05-13,ผู้ช่วยผู้จัดการ,MKT,77500,2004-03-08,37,31-40,"50,001-80,000"

In [7]:
df.sort_values(by='salary_group')

,fname,lname,sex,dob,position,department,salary,join_date,age,age_group,salary_group
empID,,,,,,,,,,,
604,กันตภณ,ซ่อนกลิ่น,M,1994-03-05,ผู้จัดการ,HR,13000,2016-02-28,26,26-30,"0-15,000"
486,ชัชลัญญา,ลั่นทม,F,1987-06-01,ผู้ช่วยผู้จัดการ,FIN,25000,2009-05-26,33,31-40,"15,001-30,000"
665,ณัชชา,สนสร้อย,F,1983-06-17,ผู้ชำนาญงาน,ACC,21000,2017-03-11,37,31-40,"15,001-30,000"
171,ณิชา,ประดู่,F,1962-04-03,พนักงานระดับต้น,HR,25000,2017-03-28,58,50+,"15,001-30,000"
607,เกศินี,สายหยุด,F,1968-12-06,ผู้ช่วยผู้จัดการ,FIN,40000,1987-11-30,52,50+,"30,001-50,000"
229,ชาติไทย,เสี้ยวดอกแดง,M,1991-07-27,พนักงานระดับต้น,MKT,39000,2015-07-21,29,26-30,"30,001-50,000"
944,ฐิติรัตน์,ตันหยง,F,1975-08-15,พนักงานระดับต้น,HR,38000,1996-08-09,45,41-50,"30,001-50,000"
405,ณภัทร,มณฑา,M,1963-11-08,พนักงานระดับต้น,FIN,35000,1984-11-02,57,50+,"30,001-50,000"
41,ณัฐญาณิน,มะลิลา,F,1987-02-11,ผู้จัดการ,MKT,36000,2012-02-05,33,31-40,"30,001-50,000"
724,เดชชัย,พุทธชาติสามสี,M,1983-05-13,ผู้ช่วยผู้จัดการ,MKT,77500,2004-03-08,37,31-40,"50,001-80,000"
901,โชติมา,อรคนธ์,F,1974-08-21,รองผู้จัดการ,MKT,82500,2007-09-18,46,41-50,"80,001+"
51,ณิรดา,คัดเค้าเครือ,F,1972-04-27,ผู้จัดการ,MKT,101500,2001-10-29,48,41-50,"80,001+"

In [8]:
df.salary_group

empID
604         0-15,000
607    30,001-50,000
486    15,001-30,000
229    30,001-50,000
901          80,001+
944    30,001-50,000
405    30,001-50,000
665    15,001-30,000
41     30,001-50,000
171    15,001-30,000
51           80,001+
724    50,001-80,000
Name: salary_group, dtype: category
Categories (5, object): [0-15,000 < 15,001-30,000 < 30,001-50,000 < 50,001-80,000 < 80,001+]